[Unit]
Description=micromdm
Documentation=https://github.com/micromdm/micromdm/tree/main/docs/user-guide
Wants=network-online.target
After=network.target network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/micromdm
ExecStart=/usr/sbin/micromdm serve -api-key $API_KEY -config-path /var/lib/micromdm/config -filerepo /var/lib/micromdm/filerepo $OPTIONS
User=micromdm
Group=micromdm
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target
