[Unit]
Description=micromdm
Documentation=https://github.com/micromdm/micromdm/tree/main/docs/user-guide
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/opt/micromdm/bin/micromdm serve -config-path /opt/micromdm/db -server-url=https://mmdm.exogroup.com -api-key titititi -filerepo /opt/micromdm/filerepo -tls=false
User=micromdm
Group=micromdm
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target
