[Unit]
Description=micromdm
Documentation=https://github.com/micromdm/micromdm/tree/main/docs/user-guide
Wants=network-online.target
After=network.target network-online.target

[Service]
EnvironmentFile=-/opt/micromdm/service/serviceenvironmentfile.conf
ExecStart=/opt/micromdm/bin/micromdm serve -config-path /opt/micromdm/db $OPTIONS -filerepo /opt/micromdm/filerepo -tls=false
User=micromdm
Group=micromdm
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target
